<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Booking Cancellation</title>
    <style>
      h1 {
        background-color: #ff7300;
        color: #ffffff;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <h1>
      Hello <%=CreateEmailMessage_8ecf44c9_2abf_4e8b_94b0_e03e627db908.params.body.travelerName%>, your cancellation request is being
      processed.
    </h1>
    <p>
      Your TavaTrip flight booking, reference <%=CreateEmailMessage_8ecf44c9_2abf_4e8b_94b0_e03e627db908.params.body.reference%>, has
      been cancelled.
    </p>
    <p>
      If you have other queries or had difficulty completing your booking or
      payment, contact us. We love to help.
    </p>
  </body>
</html>