<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Booking Cancellation</title>
    <style>
      h1 {
        background-color: #ff7300;
        color: #ffffff;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Hello <%=CreateEmailMessage_977e7fa8_dd2c_44c7_974b_a6ace47d2af3.output.travelerName%>, your booking has been cancelled.</h1>
    <p>
      Your TavaTrip flight booking, reference <%=CreateEmailMessage_977e7fa8_dd2c_44c7_974b_a6ace47d2af3.input.reference%>, has been
      cancelled.
    </p>
    <p>
      If you have other queries or had difficulty completing your booking or
      payment, contact us. We love to help.
    </p>
  </body>
</html>